// Overwrite Bulma Colors

// $white: hsl(0, 0%, 100%);
// $black: hsl(0, 0%, 4%);
$light: hsl(0, 0%, 96%);
$dark: hsl(0, 0%, 21%);
$primary: #feab21;
$link: hsl(217, 71%, 53%);
$info: hsl(204, 86%, 53%);
$success: hsl(141, 71%, 48%);
// $warning: hsl(48, 100%, 67%);
// $danger: #F25F5C;